/* ===== CSS RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: black;

}
html,body{
  height:100%;
  width:100%;
}
img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
main {
  min-height: 100vh;
  width: 100%;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
}

button{
   height: 10rem; 
  width:20rem;
  padding:1rem 2rem;
  font-size:3rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
  border:none;
  border-radius:0.5rem;
  background-color:#c11422;
  color:white;
  cursor:pointer;
  z-index: 1;
}
